@model List<Boomerang.Controllers.HomeController.FileDataFromJoin>

@inject Microsoft.AspNetCore.Identity.SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Boomerang - Home Page";
}

@{
    bool isEmpty = !Model.Any();
    if (isEmpty)
    {
        <div class="align-content-center">
            <h1>Welcome</h1>
            <h6>Upload your first file!</h6>
            <a asp-action="UploadFile" class="btn btn-primary">Get Started</a>
        </div>
    }
    else
    {
        <h3>@ViewData["uploadMessage"]</h3>
        @foreach (var file in Model)
        {
            <div class="col-xl-10 col-md-10 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    File
                                </div>
                                <div class="text-xs font-weight-bold text-body text-uppercase mb-1">
                                    Uploaded: @file.CreatedOn
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@file.FileName</div>
                            </div>
                            <div class="col-auto">

                                <form asp-action="Download" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="id" value="@file.FileId" />
                                    <button class="btn" type="submit" name="downloadFile" value="Download @file.FileName">
                                        <i class="fas fa-file-download fa-2x text-gray-500"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="col-auto">
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@file.FileId" />
                                    <button class="btn" type="submit" name="deleteFile" value="Delete @file.FileName">
                                        <i class="fas fa-trash fa-2x text-danger"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}